---

# more repo
signkey_dir: "/etc/apt/keyrings"
apt_repos:
  # https://support.mozilla.org/zh-CN/kb/install-firefox-linux
- signkey_url: "https://packages.mozilla.org/apt/repo-signing-key.gpg"
  deb_url: "https://packages.mozilla.org/apt mozilla main"
  name: "mozilla"
  # https://vscodium.com/#install
- signkey_url: "https://gitlab.com/paulcarroty/vscodium-deb-rpm-repo/raw/master/pub.gpg"
  deb_url: "https://download.vscodium.com/debs vscodium main"
  name: "vscodium"

# appimages to install
applications_dir: "/usr/local/share/applications"
icons_dir: "/usr/local/share/icons"
apps_base_url: ""

# packages to install
install_ui_packages: false

apt_ui_packages:
  - firefox 
  - firefox-l10n-zh-cn
  - codium
  - flameshot
  - gimp
  - gedit
  - kdeconnect
  - gigolo
  - plank
  - locales
  - fonts-noto-cjk
  - redshift-gtk
  - workrave-xfce4
