
[{{ ansible_distribution | lower }}-baseos]
name={{ ansible_distribution }} - BaseOS
baseurl={{ baseurl | trim }}/BaseOS/$basearch/{{  mirror_dnf_yum_os | trim }}/
gpgcheck=0
enabled=1

[{{ ansible_distribution | lower }}-appstream]
name={{ ansible_distribution }} - AppStream
baseurl={{ baseurl | trim }}/AppStream/$basearch/{{  mirror_dnf_yum_os | trim }}/
gpgcheck=0
enabled=1

[{{ ansible_distribution | lower }}-extras]
name={{ ansible_distribution }} - Extras
baseurl={{ baseurl | trim }}/extras/$basearch/{{  mirror_dnf_yum_os | trim }}/
gpgcheck=0
enabled=1
