---
- name: Make directory 
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
  with_items:
  - "{{ signkey_dir }}"
  - "{{ applications_dir }}"
  - "{{ icons_dir}}"

- name: Find all AppImage files in app_base_dir
  ansible.builtin.find:
    paths: "{{ app_base_dir }}"
    patterns: "*.AppImage"
    file_type: file
  register: found_appimages
  when: apps_base_dir is defined and apps_base_dir != ''

- name: Set facts for AppImage processing
  ansible.builtin.set_fact:
    appimage_items: "{{ found_appimages.files | map(attribute='path') | list }}"
  when: apps_base_dir is defined and apps_base_dir != ''

- include_tasks: appimage.yml
  with_items: "{{ appimage_items | default([]) }}"

- include_tasks: repo.yml
  with_items: "{{ apt_repos | default([]) }}"
  when: ansible_os_family in ['Debian', 'Ubuntu']

- name: Install packages
  apt:
    name: "{{ apt_ui_packages }}"
    state: present
    update_cache: yes
  when: 
  - install_ui_packages is defined and install_ui_packages == true
  - ansible_os_family in ['Debian', 'Ubuntu']
